useDynLib(nlmm, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom("utils", "packageDescription", "combn", "setTxtProgressBar", "txtProgressBar")
importFrom("lqmm", "theta.z.dim", "is.positive.definite", "make.positive.definite")
importFrom("Qtools", "logit", "invlogit")
importFrom("statmod", "gauss.quad.prob")
import("HI")
import("MASS")
import("mvtnorm")
import("nlme")
importClassesFrom("nlme")
importMethodsFrom("nlme")
import("numDeriv")
import("stats")
import("Matrix")

exportPattern("^[[:alpha:]]+")
export(fixef)
export(ranef)
export(VarCorr)

S3method(print, lrt_nlmm)
S3method(print, nlmm)
S3method(print, summary.nlmm)
S3method(summary, nlmm)
S3method(logLik, nlmm)
S3method(AIC, nlmm)
S3method(predict, nlmm)
S3method(fixef, nlmm)
S3method(ranef, nlmm)
S3method(residuals, nlmm)
S3method(VarCorr, nlmm)
S3method(vcov, nlmm)

